.footer-container {
  width: 100%;
  background: #1c2237;
}
.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 4px solid #1f253a;
}
.footer-link-wrapper {
  display: flex;
}
.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4vw 5vw;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 14px;
  color: #fff;
}
.footer-link-items > * {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
.footer-link-items > *:hover {
  transform: scale(1.2);
}

.footer-website-wrap {
  background: #272f4d;
  border-top: 2px solid #1f253a;
  width: 100%;
  display: flex;
}
.website-logo {
  padding-right: 30vw;
  padding-left: 2vw;
  color: #fff;
}
.website-links {
  padding: 16px 20px;
  color: rgb(213, 210, 210);
  text-decoration: none;
}
.website-links:hover {
  color: #fff;
}
.website-rights {
  padding: 20px;
  color: rgb(213, 210, 210);
}
@media screen and (max-width: 1400px) {
  .footer-link-items {
    font-size: 16px;
  }
  .website-links {
    padding: 20px 10px;
    font-size: 1.1vw;
  }
  .website-logo {
    padding: 0 25vw 0 5px;
    color: #fff;
  }
  .website-rights {
    font-size: 1.1vw;
    padding: 20px 5px;
  }
}
@media screen and (max-width: 960px) {
  .footer-link-items {
    font-size: 10px;
  }
  .footer-website-wrap {
    background: #272f4d;
    border-top: 2px solid #1f253a;
    width: 100%;
    display: flex;
  }
  .website-logo {
    font-size: 10px;
    padding: 1.5vw 10vw 1vw 4vw;
    color: #fff;
  }
  .website-links {
    padding: 20px 1vw;
    font-size: 1.5vw;
    color: rgb(213, 210, 210);
    text-decoration: none;
  }
  .website-rights {
    font-size: 1.5vw;
    padding: 20px 5px;
    color: rgb(213, 210, 210);
  }
}
