.sign-up {
  height: 650px;
  background-color: #1c2237;
  padding: 50px;
  border-radius: 10px;
  max-width: 500px;
  margin: 150px auto;
  text-align: center;
}

.sign-up h1 {
  font-weight: 100;
  color: white;
  text-shadow: 2px 2px 5px rgb(11, 176, 252);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(79, 98, 148);
}

.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

.sign-up label {
  line-height: 2;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.sign-up input {
  width: 70%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.sign-up-btn {
  margin-top: 25px;
}
